<!-- resources/views/partials/footer.ejs -->
<footer class="text-center mt-4">
    <p>&copy; 2025 My Website</p>
</footer>

<!-- Bootstrap JS dan dependensi -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyb0E6gDh4r6OPV5h5HaQIkF6gDJ7pXZ9sVymLVhH7NBwV8d9Lz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0P0Fq53sI8tQox+gnWnEuZRIpy8rRz0sWw4gsf58aO11e8io" crossorigin="anonymous"></script>
</body>
</html>